In [11]:
import pandas as pd
import numpy as np

In [3]:
#Pandas permite cargar nuestras bases de datos de forma muy sencilla
datos = pd.read_csv("./datos/conjunto_de_datos/tr_cbasico1.csv")

In [ ]:
#Pandas utiliza una estructura de datos llamada un DataFrame. Es como una tabla dinámica que nos permite hacer consultas de forma muy rápida

In [6]:
datos

,CD_A,PER,ENT,CON,V_SEL,N_HOG,N_REN,S3P1,S3P1_2,S3P2,...,S4P17_6,S4P17_7,S4P17_8,S4P17_9,S4P17_10,S4P17_11,S4P17_12,S4P17_13,S4P17_14,FAC
0,ww,1117,1,40018,3,1,1,3.0,3.0,NaN,...,2,3,3,2,2,2,2,1,2,5072
1,14,1117,1,40018,4,1,1,2.0,6.0,NaN,...,3,3,3,3,3,3,2,3,3,5072
2,14,1117,1,40018,2,1,1,2.0,6.0,NaN,...,3,3,3,3,3,3,2,3,3,7608
3,14,1117,1,40018,1,1,3,4.0,3.0,NaN,...,2,2,3,3,3,2,2,3,3,10144
4,14,1117,1,40018,5,1,2,3.0,3.0,NaN,...,3,3,3,3,3,3,1,3,3,5072
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2848,32,1117,32,40345,2,1,2,6.0,3.0,4334,...,3,3,3,2,1,1,3,1,1,3888
2849,32,1117,32,40390,2,1,2,7.0,5.0,5713,...,1,1,1,2,3,1,1,2,3,1602
2850,32,1117,32,40390,4,1,2,3.0,3.0,NaN,...,1,2,1,2,2,2,1,2,2,2403
2851,32,1117,32,40390,5,1,1,6.0,1.0,2511,...,3,2,3,3,3,2,2,2,2,2403
2852,32,1117,32,40390,3,1,1,4.0,3.0,NaN,...,1,3,3,3,1,1,1,1,1,2403

In [ ]:
#Pandas permite usar la notación usual de python para obtener "slides" de estructuras de datos

In [7]:
datos[:3]

,CD_A,PER,ENT,CON,V_SEL,N_HOG,N_REN,S3P1,S3P1_2,S3P2,...,S4P17_6,S4P17_7,S4P17_8,S4P17_9,S4P17_10,S4P17_11,S4P17_12,S4P17_13,S4P17_14,FAC
0,ww,1117,1,40018,3,1,1,3.0,3.0,NaN,...,2,3,3,2,2,2,2,1,2,5072
1,14,1117,1,40018,4,1,1,2.0,6.0,NaN,...,3,3,3,3,3,3,2,3,3,5072
2,14,1117,1,40018,2,1,1,2.0,6.0,NaN,...,3,3,3,3,3,3,2,3,3,7608

In [8]:
#Los DataFrames están identificados por un índice y por columnas

In [9]:
datos.index

RangeIndex(start=0, stop=2853, step=1)

In [10]:
datos.columns

Index(['CD_A', 'PER', 'ENT', 'CON', 'V_SEL', 'N_HOG', 'N_REN', 'S3P1',
       'S3P1_2', 'S3P2',
       ...
       'S4P17_6', 'S4P17_7', 'S4P17_8', 'S4P17_9', 'S4P17_10', 'S4P17_11',
       'S4P17_12', 'S4P17_13', 'S4P17_14', 'FAC'],
      dtype='object', length=236)

In [ ]:
#Para ver todas las columnas a veces es necesario convertir la lista en un array de numpy

In [49]:
np.array(datos.columns)

array(['CD_A', 'PER', 'ENT', 'CON', 'V_SEL', 'N_HOG', 'N_REN', 'S3P1',
       'S3P1_2', 'S3P2', 'S3P2_ES', 'S3P3', 'S3P4_1', 'S3P4_2', 'S3P4_3',
       'S3P4_4', 'S3P4_5', 'S3P4_6', 'S3P4_7', 'S3P5', 'S3P5_ES', 'S3P6',
       'S3P7', 'S3P7_1_1', 'S3P7_1_2', 'S3P7_1_3', 'S3P7_1_4', 'S3P7_1_5',
       'S3P7_2_1', 'S3P7_2_2', 'S3P7_2_3', 'S3P7_2_4', 'S3P7_2_5', 'S3P8',
       'S3P9', 'S3P10', 'S3P11_ES', 'S3P12_C', 'S3P12_ES', 'S3P13_ES',
       'S3P14_C', 'S3P14_ES', 'S3P15', 'S4P1_1', 'S4P1_2', 'S4P1_3',
       'S4P1_4', 'S4P1_5', 'S4P1_6', 'S4P1_7', 'S4P1_8', 'S4P1_1_1A',
       'S4P1_1_2A', 'S4P1_1_3A', 'S4P1_1_4A', 'S4P1_1_5A', 'S4P1_1_6A',
       'S4P1_1_7A', 'S4P1_1_8A', 'S4P1_1_ESA', 'S4P1_1_1B', 'S4P1_1_2B',
       'S4P1_1_3B', 'S4P1_1_4B', 'S4P1_1_5B', 'S4P1_1_6B', 'S4P1_1_7B',
       'S4P1_1_8B', 'S4P1_1_ESB', 'S4P1_1_1C', 'S4P1_1_2C', 'S4P1_1_3C',
       'S4P1_1_4C', 'S4P1_1_5C', 'S4P1_1_6C', 'S4P1_1_7C', 'S4P1_1_8C',
       'S4P1_1_ESC', 'S4P1_2_1', 'S4P1_2_2', 'S4P1_2_3', 'S4P1_2_4',
       'S4P1_2_5', 'S4P1_2_6', 'S4P1_2_7', 'S4P2_1', 'S4P2_2', 'S4P2_3',
       'S4P2_4', 'S4P2_5', 'S4P2_6', 'S4P2_7', 'S4P2_8', 'S4P3_1',
       'S4P3_2', 'S4P3_3', 'S4P3_4', 'S4P3_5', 'S4P3_6', 'S4P3_7',
       'S4P3_8', 'S4P3_9', 'S4P4', 'S4P4_1', 'S4P4_2', 'S4P4_3', 'S4P4_4',
       'S4P5', 'S4P5_1', 'S4P5_2', 'S4P5_3', 'S4P5_4', 'S4P6', 'S4P6_1',
       'S4P6_2', 'S4P6_3', 'S4P6_4', 'S4P6_5', 'S4P7', 'S4P7_1', 'S4P7_2',
       'S4P7_3', 'S4P7_4', 'S4P7_5', 'S4P8', 'S4P8_1_1', 'S4P8_1_2',
       'S4P8_1_ES', 'S4P9', 'S4P10', 'S4P10_1', 'S4P11_1', 'S4P11_2',
       'S4P11_3', 'S4P11_4', 'S4P11_5', 'S4P11_6', 'S4P11_7', 'S4P11_8',
       'S4P11_9', 'S4P11_10', 'S4P11_11', 'S4P11_12', 'S4P11_13',
       'S4P11_14', 'S4P11_15', 'S4P11_16', 'S4P11_17', 'S4P11_ES',
       'S4P12_1', 'S4P12_2', 'S4P12_3', 'S4P12_4', 'S4P12_5', 'S4P12_6',
       'S4P12_7', 'S4P12_8', 'S4P12_9', 'S4P12_10', 'S4P12_1_1',
       'S4P12_1_2', 'S4P12_1_3', 'S4P12_1_4', 'S4P12_1_5', 'S4P12_1_6',
       'S4P12_1_7', 'S4P12_1_8', 'S4P12_1_9', 'S4P12_1_10', 'S4P12_1_ES',
       'S4P12_2_1', 'S4P12_2_2', 'S4P12_2_3', 'S4P12_2_4', 'S4P12_2_5',
       'S4P12_2_6', 'S4P12_2_7', 'S4P12_2_8', 'S4P12_2_ES', 'S4P13_1',
       'S4P13_2', 'S4P13_3', 'S4P14_1', 'S4P14_2', 'S4P14_3', 'S4P14_4',
       'S4P14_5', 'S4P14_6', 'S4P14_7', 'S4P14_8', 'S4P14_9', 'S4P14_10',
       'S4P14_11', 'S4P14_12', 'S4P14_13', 'S4P14_14', 'S4P14_15',
       'S4P14_16', 'S4P14_17', 'S4P15_1', 'S4P15_2', 'S4P15_3', 'S4P15_4',
       'S4P15_5', 'S4P15_6', 'S4P15_7', 'S4P15_8', 'S4P15_9', 'S4P15_10',
       'S4P15_11', 'S4P15_12', 'S4P15_13', 'S4P15_14', 'S4P15_15',
       'S4P16_1', 'S4P16_2', 'S4P16_3', 'S4P16_4', 'S4P16_5', 'S4P16_6',
       'S4P16_7', 'S4P17_1', 'S4P17_2', 'S4P17_3', 'S4P17_4', 'S4P17_5',
       'S4P17_6', 'S4P17_7', 'S4P17_8', 'S4P17_9', 'S4P17_10', 'S4P17_11',
       'S4P17_12', 'S4P17_13', 'S4P17_14', 'FAC'], dtype=object)

In [55]:
#Además Pandas tiene sus propios métodos para poder consultar filas/columnas en particular

In [ ]:
#Una fila en específico

In [56]:
datos.loc[1]

CD_A           14
PER          1117
ENT             1
CON         40018
V_SEL           4
            ...
S4P17_11        3
S4P17_12        2
S4P17_13        3
S4P17_14        3
FAC          5072
Name: 1, Length: 236, dtype: object

In [57]:
#Varias filas en específico

In [60]:
datos.loc[1:3]

,CD_A,PER,ENT,CON,V_SEL,N_HOG,N_REN,S3P1,S3P1_2,S3P2,...,S4P17_6,S4P17_7,S4P17_8,S4P17_9,S4P17_10,S4P17_11,S4P17_12,S4P17_13,S4P17_14,FAC
1,14,1117,1,40018,4,1,1,2.0,6.0,NaN,...,3,3,3,3,3,3,2,3,3,5072
2,14,1117,1,40018,2,1,1,2.0,6.0,NaN,...,3,3,3,3,3,3,2,3,3,7608
3,14,1117,1,40018,1,1,3,4.0,3.0,NaN,...,2,2,3,3,3,2,2,3,3,10144

In [62]:
datos.loc[[6,8,2,1]]

,CD_A,PER,ENT,CON,V_SEL,N_HOG,N_REN,S3P1,S3P1_2,S3P2,...,S4P17_6,S4P17_7,S4P17_8,S4P17_9,S4P17_10,S4P17_11,S4P17_12,S4P17_13,S4P17_14,FAC
6,14,1117,1,40034,4,1,1,2.0,2.0,NaN,...,2,2,2,2,3,2,2,3,3,9584
8,14,1117,1,40034,5,1,3,7.0,5.0,5512,...,1,3,2,2,2,1,2,1,1,9584
2,14,1117,1,40018,2,1,1,2.0,6.0,NaN,...,3,3,3,3,3,3,2,3,3,7608
1,14,1117,1,40018,4,1,1,2.0,6.0,NaN,...,3,3,3,3,3,3,2,3,3,5072

In [ ]:
#Una columna

In [63]:
datos["S3P1"]

0       3.0
1       2.0
2       2.0
3       4.0
4       3.0
       ...
2848    6.0
2849    7.0
2850    3.0
2851    6.0
2852    4.0
Name: S3P1, Length: 2853, dtype: float64

In [64]:
#Varias columnas

In [66]:
datos[["S3P1","S3P2","V_SEL"]]

      S3P1  S3P2  V_SEL
0      3.0   NaN      3
1      2.0   NaN      4
2      2.0   NaN      2
3      4.0   NaN      1
4      3.0   NaN      5
...    ...   ...    ...
2848   6.0  4334      2
2849   7.0  5713      2
2850   3.0   NaN      4
2851   6.0  2511      5
2852   4.0   NaN      3

[2853 rows x 3 columns]

In [67]:
#Una mezcla de filas y columnas

In [69]:
datos.loc[[6,8,2,1],["S3P1","S3P2","V_SEL"]]

   S3P1  S3P2  V_SEL
6   2.0   NaN      4
8   7.0  5512      5
2   2.0   NaN      2
1   2.0   NaN      4

In [70]:
#Podemos incluso pedirle un slice de todas las filas y de solo algunas columnas

In [71]:
datos.loc[:,"S3P1":"S3P2"]

      S3P1  S3P1_2  S3P2
0      3.0     3.0   NaN
1      2.0     6.0   NaN
2      2.0     6.0   NaN
3      4.0     3.0   NaN
4      3.0     3.0   NaN
...    ...     ...   ...
2848   6.0     3.0  4334
2849   7.0     5.0  5713
2850   3.0     3.0   NaN
2851   6.0     1.0  2511
2852   4.0     3.0   NaN

[2853 rows x 3 columns]

In [14]:
#Las columnas se relacionan con las preguntas en el cuestionario. Toda esta información se puede triangular en los cuestionarios y en los archivos descriptivos de las bases de datos.

In [15]:
#Concentrémonos en los factores de expansión. Un factor de expansión es el equivalente de una persona encuestada para obtener toda la población objetivo. Si sumamos todos los factores de expansión obtenemos la población objetivo

In [16]:
#Podemos trabajar solamente con la columna que nos interes "FAC". Esta estructura de datos se llama una Serie, tiene un índice.

In [29]:
datos["FAC"]

0        5072
1        5072
2        7608
3       10144
4        5072
        ...
2848     3888
2849     1602
2850     2403
2851     2403
2852     2403
Name: FAC, Length: 2853, dtype: int64

In [ ]:
#Pandas nos permite obtener estadística básica sobre una serie

In [30]:
datos["FAC"].describe()

count      2853.000000
mean      12989.090782
std       31027.402883
min         629.000000
25%        3114.000000
50%        5552.000000
75%        9890.000000
max      368320.000000
Name: FAC, dtype: float64

In [31]:
#Aplicar operaciones como si la serie fuera un vector

In [33]:
datos["FAC"]*-1

0       -5072
1       -5072
2       -7608
3      -10144
4       -5072
        ...
2848    -3888
2849    -1602
2850    -2403
2851    -2403
2852    -2403
Name: FAC, Length: 2853, dtype: int64

In [18]:
#Se puede observar que son solamente 2853 registros, es decir 2853 cuestionarios. Sin embargo la población objetivo es la población mayor de 18 años.

In [19]:
datos["FAC"].sum()

37057876

In [20]:
#Pandas nos permite saber que valores tiene una columna

In [22]:
datos["S3P1"].value_counts()

7.0     719
3.0     691
4.0     590
2.0     459
6.0     184
9.0      83
5.0      20
10.0     14
8.0      13
1.0       1
Name: S3P1, dtype: int64

In [34]:
#El valor 7 es el que tiene mayor número de respuestas, corresponde con licenciatura o ingeniería. Sin embargo no necesariamente es el que tiene más personas. Necesitamos sumar los factores de expansión con esa respuesta

In [ ]:
#Pandas nos permite generar Series hechas de condiciones booleanas

In [26]:
datos["S3P1"]==7

0       False
1       False
2       False
3       False
4       False
        ...
2848    False
2849     True
2850    False
2851    False
2852    False
Name: S3P1, Length: 2853, dtype: bool

In [35]:
#Y luego utilizar esas series para filtrar otras Series o DataFrames (Pandas se encarga de hacer match de acuerdo al índice)

In [36]:
condicion = datos["S3P1"]==7

In [37]:
datos[condicion]

,CD_A,PER,ENT,CON,V_SEL,N_HOG,N_REN,S3P1,S3P1_2,S3P2,...,S4P17_6,S4P17_7,S4P17_8,S4P17_9,S4P17_10,S4P17_11,S4P17_12,S4P17_13,S4P17_14,FAC
5,14,1117,1,40034,3,1,2,7.0,4.0,5335,...,1,2,2,2,2,2,1,2,2,4792
8,14,1117,1,40034,5,1,3,7.0,5.0,5512,...,1,3,2,2,2,1,2,1,1,9584
39,14,1117,1,40100,4,1,3,7.0,4.0,5335,...,2,3,3,2,3,2,2,2,2,7521
41,14,1117,1,40100,1,1,1,7.0,5.0,5335,...,2,2,2,2,2,2,2,2,2,2507
42,14,1117,1,40100,5,1,3,7.0,4.0,5121,...,1,3,3,3,3,1,2,2,3,10028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2840,32,1117,32,40326,5,1,1,7.0,4.0,5122,...,4,2,4,4,4,1,2,2,4,1274
2845,32,1117,32,40345,3,1,5,7.0,1.0,5334,...,2,2,1,2,2,1,2,2,2,4860
2846,32,1117,32,40345,1,1,3,7.0,5.0,5441,...,1,1,3,2,2,2,2,1,2,3888
2847,32,1117,32,40345,5,1,1,7.0,5.0,5524,...,1,3,3,2,2,1,2,2,1,3888
2849,32,1117,32,40390,2,1,2,7.0,5.0,5713,...,1,1,1,2,3,1,1,2,3,1602

In [41]:
temporal = datos[condicion]

In [ ]:
#Luego podemos entonces seleccionar la columna que nos interesa y sumar

In [40]:
temporal["FAC"].sum()

7586872

In [42]:
#Si tuvieramos que hacer esto para un montón de respuestas sería muy repetitívo. Pandas permite hacer grupos de acuerdo al valor de una o varias columnas

In [43]:
datos.groupby("S3P1")

In [46]:
grupos = datos.groupby("S3P1")

In [ ]:
#Entonces podemos hacer consultas sobre los grupos, por ejemplo cual es su tamaño

In [45]:
grupos.size()

S3P1
1.0       1
2.0     459
3.0     691
4.0     590
5.0      20
6.0     184
7.0     719
8.0      13
9.0      83
10.0     14
dtype: int64

In [47]:
#Cada grupo tiene estructura similar a un dataframe, podemos seleccionar una columna de cada uno y hacer operaciones sobre el

In [48]:
grupos["FAC"].sum()

S3P1
1.0      135752
2.0     6842690
3.0     8814607
4.0     9171045
5.0       91315
6.0     2609883
7.0     7586872
8.0      102790
9.0      557209
10.0     130164
Name: FAC, dtype: int64

In [72]:
#Incluso podríamos ejecutar funciones que regresen más de un valor para cada grupo

In [73]:
grupos["FAC"].describe()

,count,mean,std,min,25%,50%,75%,max
S3P1,,,,,,,,
1.0,1.0,135752.000000,NaN,135752.0,135752.0,135752.0,135752.00,135752.0
2.0,459.0,14907.821351,36466.610010,720.0,3217.0,5886.0,10394.50,287836.0
3.0,691.0,12756.305355,30065.923042,740.0,3092.5,5487.0,10306.00,368320.0
4.0,590.0,15544.144068,38156.974999,786.0,3693.0,6055.5,10177.00,368320.0
5.0,20.0,4565.750000,3249.858926,781.0,1397.0,4678.0,5849.50,11380.0
6.0,184.0,14184.146739,31105.534654,794.0,2881.5,5870.0,10391.75,212616.0
7.0,719.0,10551.977747,22774.539374,629.0,2974.0,5382.0,9304.00,357680.0
8.0,13.0,7906.923077,14492.791694,1312.0,2282.0,2824.0,6542.00,55401.0
9.0,83.0,6713.361446,9285.691481,839.0,2213.0,4088.0,6712.50,52972.0
10.0,14.0,9297.428571,8244.708799,1422.0,2771.5,4229.5,15532.50,23510.0

In [74]:
#Calculemos el porcentaje de personas en cada uno de los grupos. Necesitamos la suma de personas en cada grupo y la suma total de personas

In [76]:
grupos["FAC"].sum()/datos["FAC"].sum()

S3P1
1.0     0.003663
2.0     0.184649
3.0     0.237861
4.0     0.247479
5.0     0.002464
6.0     0.070427
7.0     0.204730
8.0     0.002774
9.0     0.015036
10.0    0.003512
Name: FAC, dtype: float64

In [77]:
grupos["FAC"].sum()/datos["FAC"].sum()*100

S3P1
1.0      0.366324
2.0     18.464874
3.0     23.786056
4.0     24.747897
5.0      0.246412
6.0      7.042721
7.0     20.473035
8.0      0.277377
9.0      1.503618
10.0     0.351245
Name: FAC, dtype: float64

In [78]:
porcentajes = grupos["FAC"].sum()/datos["FAC"].sum()*100

In [81]:
porcentajes.sum()

97.25955961426394

In [85]:
datos["S3P1"].isna().sum()

79

In [87]:
datos[datos["S3P1"].isna()]["FAC"].sum()/datos["FAC"].sum()*100

2.740440385736085

In [88]:
#Podemos ordenarlos

In [89]:
porcentajes.sort_values()

S3P1
5.0      0.246412
8.0      0.277377
10.0     0.351245
1.0      0.366324
9.0      1.503618
6.0      7.042721
2.0     18.464874
7.0     20.473035
3.0     23.786056
4.0     24.747897
Name: FAC, dtype: float64

In [91]:
porcentajes.sort_values(ascending=False)

S3P1
4.0     24.747897
3.0     23.786056
7.0     20.473035
2.0     18.464874
6.0      7.042721
9.0      1.503618
1.0      0.366324
10.0     0.351245
8.0      0.277377
5.0      0.246412
Name: FAC, dtype: float64